
#nav-side-bar {
  @include fixed-left;
  top: 50px;

  z-index: 100;

  .slim-wrap {
    width: $nav-side-bar-slim-width;
  }

  $animation-time: 0.2s;
  .content-wrap.ng-hide-remove {
    opacity: 0;
    -webkit-transform: translate(-200px);
    -webkit-transition: all $animation-time ease;
  }
  .content-wrap.ng-hide-remove-active {
    -webkit-transform: translate(0px);
    opacity: 1;
  }

  .content-wrap.ng-hide-add {
    opacity: 1;
    -webkit-transform: translate(0px);
    -webkit-transition: all $animation-time ease;
  }
  .content-wrap.ng-hide-add-active {
    -webkit-transform: translate(-200px);
    opacity: 0;
  }
}

#nav-side-bar.moving-left {
  left: -100%;

  @include managing-move-left;
}
#nav-side-bar.moving-left-remove {
  @include managing-move-left;
}

#nav-side-bar.grid-modal-mode {
  @include translate-x(-370px);
  @include all-ease-transition($grid-modal-show-interval);
}
#nav-side-bar.grid-modal-mode-remove {
  @include all-ease-transition($grid-modal-show-interval);
  @include delay($grid-modal-show-delay);
}
