<!--布景-->
<div class="grid-modal-backdrop" ng-click="toggleActive()" ng-show="isActive"></div>

<div class="grid-modal" ng-class="{'active': isActive, 'tipping': isTipping}" animate-on="isActive" animate-on-in="grid-modal-in" animate-on-out="grid-modal-out">
<!--<div class="grid-modal" ng-class="{'active': isActive}" animate-on="isActive" animate-on-in="grid-modal-in" animate-on-out="grid-modal-out">-->
  <!--侧栏-->
  <side-bar id="grid-modal-nav-side-bar" side="left" service="gridModalLayoutService" status="crush">
    <div rg-multi-transclude-name="content">
      <modal-side-nav>
      <div class="clear-btn">清空所有</div>
      <ul class="rg-clean-ul nav-list">
        <li><a href="">荷兰</a></li>
        <li><a href="">德国</a></li>
        <li><a href="">美国</a></li>
      </ul>
      </modal-side-nav>
    </div>
  </side-bar>

  <side-bar id="grid-modal-filter-bar" side="right" service="gridModalLayoutService" status="slim">
    <report-filter-intro rg-multi-transclude-name="slim"></report-filter-intro>
    <report-filter rg-multi-transclude-name="content"></report-filter>
  </side-bar>

  <!--内容区-->
  <div class="grid-modal-content" ng-class="{'left-crush': modalLayout.leftBar.status === 'crush', 'right-crush': modalLayout.rightBar.status === 'crush'}">
    <!--表格-->
    <grid></grid>
  </div>

  <!--gridModal触发按钮-->
  <div class="grid-modal-btn" ng-click="toggleActive()" ng-class="{'tipping': isTipping}">
    <span class="grid-count" ng-hide="isTipping">17</span>
    <span class="plus-one" ng-show="isTipping">+1</span>
  </div>
</div>
