link-group {
  color: white;

  .expand-btn {
    display: inline-block;
    line-height: 50px;
    padding-right: 33px;
  }

  li {
    height: 50px;
    line-height: 50px;
    padding-left: 70px;
  }
}