<i class="fa fa-qrcode"></i>
<span class="btns-wrap" ng-show="showBtns">
  <span class="lead-line"></span>
  <subgrid-button type="adPos" row-data="{{ rowData }}" icon="fa-cube" ng-click="openSubgrid()"></subgrid-button>
  <subgrid-button type="landPage" row-data="{{ rowData }}" icon="fa-paper-plane"></subgrid-button>
  <subgrid-button type="trend" row-data="{{ rowData }}" icon="fa-codepen"></subgrid-button>
</span>
