<div class="title-con">
  <span class="page-title">报表与管理</span>
  <span class="button-con"><button class="btn btn-success">新增活动</button><button class="btn btn-default">模板管理</button></span>
</div>
<div class="main report col-lg-10">
  <h3>{{ title }}</h3>
  <div class="op-con pull-right">
    <button class="btn btn-primary btn-sm">批量操作</button>
    <button class="btn btn-primary  btn-sm">自动刷新</button>
  </div>
  <div class="index-con btn-group">
    <button class="btn btn-default btn-sm">默认</button>
    <button class="btn btn-default btn-sm">前端</button>
    <button class="btn btn-default btn-sm">落地页</button>
    <button class="btn btn-default btn-sm">转化</button>
    <button class="btn btn-default btn-sm">成本</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        {{#each indexes}}
        <th>{{ this }}</th>
        {{/each }}
      </tr>
      </thead>
      <tbody>
      {{#each rows}}
      <tr>
        {{#each this}}
        <td>{{this}}</td>
        {{/each}}
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>