<div id="report-filter" class="hide">
<div class="report-filter-item">
  <button class="btn btn-default">2014-06-07 ~ 1014-06-15</button>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
      <input type="radio" name="options" id="option1"> 今日
    </label>
      <label class="btn btn-default">
      <input type="radio" name="options" id="option2"> 昨日
    </label>
    <label class="btn btn-default">
      <input type="radio" name="options" id="option3"> 近7日
    </label>
  </div>
</div>
<div class="report-filter-item">
  <input type="text" placeholder="请输入搜索关键字"/>
  <button class="btn btn-default">搜索</button>
</div>
<div class="rule"></div>
<div class="report-filter-item">
  <label for="">渠道：</label>
  <z-controller controller="select-pad"></z-controller>
</div>
<div class="report-filter-item">
  <label for="">标签：</label>
  <z-controller controller="select-pad"></z-controller>
</div>
<div class="report-filter-item">
  <label for="">状态：</label>
  <z-controller controller="select-pad"></z-controller>
</div>
<div class="report-filter-item">
  <label for="">纬度过滤：</label>
  <z-controller controller="select-pad"></z-controller>
</div>
<div class="report-filter-item">
  <label for="">指标：</label>
  <z-controller controller="select-pad"></z-controller>
</div>
<div>
  <button class="btn btn-success button-filter">过滤</button>
</div>
</div>
