<div class="main-container"
     ng-class="{'left-crush': layoutService.leftBar.status == 'crush',
     'right-crush': layoutService.rightBar.status == 'crush',
     'moving-left': layoutService.isManaging}">

<div class="">
  <!--<rg-loading loading="isLoading"></rg-loading>-->

  <!--标题与新增-->
  <!--
  <h3>{{ title }}</h3>
  <div class="op-con pull-right">
    <a class="btn btn-primary btn-sm" ng-click="loadData()">批量操作</a>
    <a class="btn btn-primary  btn-sm" ng-click="loadData()">自动刷新</a>
  </div>
  -->

  <!--modal测试-->
  <!--<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="{title: 'hi', content: 'hihi...'}">Click to toggle modal-->
  <!--</button>-->

  <!--<div class="index-con btn-group">-->
    <!--<button class="btn btn-default btn-sm">默认</button>-->
    <!--<button class="btn btn-default btn-sm">前端</button>-->
    <!--<button class="btn btn-default btn-sm">落地页</button>-->
    <!--<button class="btn btn-default btn-sm">转化</button>-->
    <!--<button class="btn btn-default btn-sm">成本</button>-->
  <!--</div>-->
  <grid></grid>
</div>
</div>