<span class="sub-grid-btn-wrap" register-mouse-location>
  <i class="fa {{ icon }} sub-grid-btn" rg-long-click="{'longClick': 'btnClick(type, rowData)', 'shortClick': 'btnClick(type, rowData)', 'interval': 300}"></i>
  <i class="fa {{ icon }} fa-2x sub-grid-btn-shadow" ng-class="{'long-long-long': hasLongClick}"></i>
</span>
