side-bar {

  .wrapper {
    height: 100%
  }

  .slim-wrap {
    position: absolute;
    left: 0;
    height: 100%;

    .slim-content {
      height: 100%;
    }
  }

  .content-wrap {
    position: absolute;
    left: 0;
    height: 100%;

    z-index: 10;

    .nail-btn, .cancel-crush-btn {
      position: absolute;
      right: -20px;
      width: 20px;
      height: 100%;

      background-color: #172128;
      font-size: 1.5em;
      color: white;
      opacity: 0.3;
    }

    .cancel-crush-btn {
      opacity: 0;
    }
    .cancel-crush-btn:hover {
      opacity: 0.3;
    }

    .content {
      height: 100%
    }
  }


}

side-bar .right {
  .slim-wrap {
    left: auto;
    right: 0;
  }

  .content-wrap {
    left: auto;
    right: 0;

    .nail-btn, .cancel-crush-btn {
      right: auto;
      left: -20px;
    }
  }
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
