#report-filter-intro {
	position: fixed;
	top: 90px;
	right: 0;
	width: 250px;
	z-index: 778;
	bottom: 0;
	cursor: pointer;
	background-color: #ddd;
	padding-left: 13px;
}

#report-filter-intro label {
	color: #999;
}

.intro-item {
	padding-bottom: 17px;
}

.list-pad {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.list-pad li {
	display: inline-block;
	width: 100px;
	padding: 2px;
}

.list {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.list li {
	padding-bottom: 5px;
}

.list li span {
	margin-left: 5px;
}

.white-bg {
	background-color: #fff;
}

.lat-title {
	font-weight: bolder;
}