<div id="report-filter-intro">
  <h4>过滤条件</h4>
  <div>
    <label>时间：</label><span>今日</span>
  </div>
  <div>
    <label>搜索：</label><span></span>
  </div>
  <div>
    <label>渠道：</label><span>所有</span>
  </div>
  <div>
    <label>标签：</label>
    <ul class="tag-list">
      <li>South Park</li>
      <li>塞尔达传说</li>
      <li>使命召唤</li>
    </ul>
  </div>
  <div>
    <label>纬度过滤：</label>
    <ul class="latitude-list">
      <li>广告位</li>
    </ul>
  </div>
  <div>
    <label>指标：</label>
    <ul class="index-list">
      <li>注册率>10%</li>
    </ul>
  </div>
</div>
