<!--<div class="arrow"></div>-->
<!--<h3 class="popover-title">Popover right</h3>-->
<div ng-mouseenter="togglePop()" ng-mouseleave="togglePop()">
<i class="fa fa-qrcode"></i>
<div class="popover right" ng-show="isPoping">
<div class="arrow"></div>
<div class="popover-content" ng-transclude>
</div>
</div>
</div>