<!--<div id="report-filter" animate-show="!isHidden">-->
<div id="report-filter">

<!--纬度组合-->
<div class="report-filter-item">
  <label>维度组合</label>
  <div class="lat-select-pad" ng-hide="isComb">
    <label><input type="radio" name="lat-s" > 活动</label>
    <label><input type="radio" name="lat-s" > 创意包</label>
    <label><input type="radio" name="lat-s" > 渠道</label>
  </div>
</div>

  <!--<div class="lat-comb-pad" ng-show="isComb">-->
    <!--<label><input type="checkbox" name="lat-s" > 活动</label>-->
    <!--<label><input type="checkbox" name="lat-s" > 创意包</label>-->
    <!--<label><input type="checkbox" name="lat-s" > 渠道</label>-->
    <!--<label><input type="checkbox" name="lat-s" > 日期</label>-->
  <!--</div>-->

<!--状态-->
<div class="report-filter-item">
  <label class="filter-label">类型</label>
  <!--<rg-btn-group-radio list="campTypeList"></rg-btn-group-radio>-->
  <ul class="radio-list">
    <li><input type="radio" value="pc"/>pc广告</li>
    <li><input type="radio" value="mobile"/>移动广告</li>
  </ul>
</div>

<div class="report-filter-item">
  <label class="filter-label">渠道</label>
  <!--<select-pad></select-pad>-->
  <ul class="checkbox-list">
    <li><input type="checkbox" value="pc"/>百度</li>
    <li><input type="checkbox" value="mobile"/>tanx</li>
    <li><input type="checkbox" value="mobile"/>double click</li>
    <li><input type="checkbox" value="mobile"/>芒果</li>
    <li><input type="checkbox" value="mobile"/>bla bla</li>
    <li><input type="checkbox" value="mobile"/>suck</li>
    <li><input type="checkbox" value="mobile"/>优酷</li>
  </ul>
</div>
<div class="report-filter-item">
  <label class="filter-label">标签</label>
  <!--<select-pad></select-pad>-->
  <ul class="checkbox-list">
    <li><input type="checkbox" value="pc"/>百度</li>
    <li><input type="checkbox" value="mobile"/>tanx</li>
    <li><input type="checkbox" value="mobile"/>double click</li>
    <li><input type="checkbox" value="mobile"/>芒果</li>
    <li><input type="checkbox" value="mobile"/>bla bla</li>
    <li><input type="checkbox" value="mobile"/>suck</li>
    <li><input type="checkbox" value="mobile"/>优酷</li>
  </ul>
</div>
<div class="report-filter-item">
  <label class="filter-label">状态</label>
  <!--<rg-btn-group-radio list="statusTypeList"></rg-btn-group-radio>-->
  <ul class="radio-list">
    <li><input type="checkbox" value="pc"/>所有</li>
    <li><input type="checkbox" value="mobile"/>进行中</li>
    <li><input type="checkbox" value="mobile"/>已暂停</li>
    <li><input type="checkbox" value="mobile"/>已归档</li>
  </ul>
</div>
  <!--
<div class="report-filter-item">
  <label class="filter-label">纬度过滤</label>
  <select-pad></select-pad>
</div>
<div class="report-filter-item">
  <label class="filter-label">指标</label>
  <select-pad></select-pad>
</div>


<div>
  <a class="btn btn-success button-filter" ng-click="doFilter()">应用</a>
  <a class="btn btn-danger button-filter" ng-click="close()">取消</a>
</div>
-->
</div>
