<span class="sub-grid-btn-wrap" register-mouse-location>
  <i class="fa fa-cube sub-grid-btn" rg-long-click="{'longClick': 'addSubgrid($event)', 'shortClick': 'openSubgrid($event)', 'interval': 600}"></i>
  <i class="fa fa-cube fa-2x sub-grid-btn-shadow" ng-class="{'long-long-long': hasLongClick}"></i>
</span>
