<div id="report-filter-intro" ng-click="openFilter()">
  <div class="intro-item">
    <label>组合维度</label>
    <div><span>无</span></div>
  </div>
  <div class="intro-item">
    <label>类型</label>
    <div><span>PC活动</span></div>
  </div>
  <div class="intro-item">
    <label>渠道：</label>
    <div>
      <span>优酷</span>
      <span>Tanx</span>
    </div>
  </div>
  <div class="intro-item">
    <label>标签：</label>
    <ul class="list-pad">
      <li>South Park</li>
      <li>塞尔达传说</li>
      <li>使命召唤</li>
    </ul>
  </div>
  <div class="intro-item">
    <label>纬度过滤：</label>
    <!--
    <div>
      <span class="lat-title">活动</span>
      <ul class="list-pad">
        <li>biddingx</li>
        <li>宣传-tanx</li>
      </ul>
    </div>
    <div>
      <span class="lat-title">创意包</span>
      <ul class="list-pad">
        <li>biddingx</li>
        <li>黑底文字</li>
      </ul>
    </div>
    -->
  </div>
  <div class="intro-item">
    <label>指标过滤</label>
    <div>
    <ul class="list">
      <li><span>展示量 </span><span>大于</span><span>1000</span></li>
      <li><span>点击量 </span><span>大于</span><span>1000</span></li>
    </ul>
    </div>
  </div>
</div>
