#report-filter {
  position: fixed;
  top: 50px;
  right: 0;
  width: 400px;
  z-index: 778;
  bottom: 0;
  background-color: #EEEEEE;
  padding-top: 7px;
  padding-left: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15); }

.rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd; }

.report-filter-item {
  margin-top: 7px; }

#report-filter {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1; }

.filter-label {
  color: #999;
  display: block; }
